body{font-size: 12px;margin: 0; padding: 80px 0 0 0; color:#333; background: #e0e6e6}
.topbar{position: fixed; top: 0; background: #333; color:white; padding: 1%; width: 98%; z-index: 2;box-shadow: 0 0 10px black;}
.topbar a{font-size: 1em; color: white;line-height:46px; text-decoration: none; margin-right: 1em;}
.topbar a:visited{color: white;}
.product-block{padding: 1%;width: 46.5%;text-align: center;display: inline-block;margin: 0.5%; border-radius: 3px; border: 1px solid #ccc; background: white}
.pull-right{float: right; display: inline-block;}