body{font-size: 12px;margin: 0; padding: 40px 0 0 0; color:#333;}
.topbar{position: fixed; top: 0; background: #333; color:white; padding: 1%; width: 98%; z-index: 2}
.topbar a{font-size: 2em; color: white;line-height: 46px; text-decoration: none;}
.topbar a:visited{color: white;}
.product-block{padding: 1%;width: 23%;text-align: center;display: inline-block;}
.pull-right{float: right; display: inline-block;}