body{font-size: 12px;margin: 0; padding: 40px 10px 0 10px; color:#333;}
.topbar{position: fixed; top: 0; background: #333; color:white; padding: 10px;}
.product-block{padding: 1%;width: 23%;text-align: center;display: inline-block;}
.pull-right{float: right; display: inline-block;}
